* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

@media screen and (min-width: 1024px) {
	.header-offer-button:hover {
		color: #000;
		background-color: #fff;
	}
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.nav-items {
<<<<<<< HEAD
	padding: 10px 0;
=======
	padding: 15px 0;
>>>>>>> 64d35c3a81c82666fc828afe5ae8dadee26cdf33
	background-color: #4e4e4e;
	text-transform: uppercase;
}

.nav-items .nav-links {
<<<<<<< HEAD
	display: none;
=======
	display: flex;
>>>>>>> 64d35c3a81c82666fc828afe5ae8dadee26cdf33
	gap: 46px;
	list-style: none;
}

.navi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	color: #fff;
	text-transform: uppercase;
}

.company-name {
	font-weight: 700;
}

.a-links {
	text-decoration: none;
	color: #fff;
}

.disabled:hover {
	cursor: not-allowed;
}

.header-main-img {
	height: 100vh;
	background: rgba(0, 0, 0, 0.4) url("img/wolves-big.jpg");
	background-blend-mode: darken;
	background-size: cover;
	background-position: center;
}

.img-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.img-content h1 {
	width: 359px;
	margin-bottom: 50px;
	font-size: 36px;
}

.img-content .header-paragraph {
	margin-bottom: 50px;
	font-weight: 700;
}

.header-offer-button {
	width: 164px;
	height: 40px;
	border: 3px solid #fff;
	background: none;
	color: #fffd;
	transition: 1s;
}

.bgc-our-specialist {
	background: #f1f1f1;
}

<<<<<<< HEAD
.about-us {
	display: flex;
	flex-direction: column;
}

.about-us .about-us-header {
	text-align: center;
	padding: 50px 0;
=======
.about-us .about-us-header {
	padding: 50px 0 78px 0;
>>>>>>> 64d35c3a81c82666fc828afe5ae8dadee26cdf33
	font-size: 36px;
	color: #152d41;
}

.about-us-our-specialist .our-specialist-img {
<<<<<<< HEAD
	margin: 0 auto;
=======
>>>>>>> 64d35c3a81c82666fc828afe5ae8dadee26cdf33
	width: 220px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin-bottom: 30px;
}

.about-us-our-specialist {
<<<<<<< HEAD
=======
	display: flex;
	gap: 44px;
}

.about-us-our-specialist:nth-of-type(odd) {
	display: flex;
}

.about-us-our-specialist:nth-of-type(even) {
	flex-direction: row-reverse;
	text-align: end;
	padding: 50px 0;
}

.about-us-description {
>>>>>>> 64d35c3a81c82666fc828afe5ae8dadee26cdf33
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

<<<<<<< HEAD
.about-us-description {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 50px;
}

=======
>>>>>>> 64d35c3a81c82666fc828afe5ae8dadee26cdf33
.bgc-offer {
	background-color: #405d78;
}

.what-we-do {
	padding: 50px 0;
	font-size: 26px;
	color: #fff;
}

.services {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding-bottom: 50px;
}

.boxes {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.boxes div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: #f1f1f1;
	transition: 0.5s;
}

.special {
	position: relative;
}

.special-contain {
	display: flex;
	flex-direction: column;
}

.special .orange-circle {
	position: absolute;
	left: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #e07a64;
}

.footer {
	background: #4e4e4e;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	height: 147px;
	max-width: 441px;
	font-weight: 700;
	color: white;
}

.icons {
	display: flex;
	gap: 18px;
}
.icons .fa-brands {
	font-size: 30px;
	color: #fff;
}
